
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.whole-content{
    background-color: #f7f7f7;
   
}




.picture {
    display: flex;


}

.group-content {
    position: absolute;
    top: 80px;
    left: 96px;
}
.group-content > h4{
    padding: 1%;
}

.content >h4{
    padding: 1%;
}
.content >p{
    padding: 1%;
}
.pic-content p {
    font-size: 14px;
    width: 317px;
    height: 66px;
    padding: 2%;
}
.group-content button{
   /* background-color: #286ce2;
   width: 50%;
   padding: 1%;
   margin-top: 10%;
   color: white;
   border-radius: 8px;
   border: soild 1px white; */
  
    border-radius: 8px;
    border: solid 1px #eee;
    color: white;
    width: 50%;
    margin-top: 10%;
    font-size: 14px;
    padding: 1%;
    background-color:#286ce2;
   }

.group-content button:hover {background-color: black; }

.call {
    position: relative;

    width: 264px;
    height: 220px;

    justify-content: center;
}

.image-content {
    position: absolute;
    /* align-items: center; */
    text-align: center;
    top: 4rem;
    left: 25%;
    font-size: 20px;
}

.image-content_img {
    position: absolute;
    display: flex;
    top: 8.5rem;
    left: 35%;


}
.picture{
    width: 840px;
    height: 272px;
}

.image-content_img img {
    width: 24px;
    height: 24px;
}

.phone-bold {
    font-size: 20px;
}

.cases {
    display: flex;
 

}

.cases img {
    width: 24px;
    height: 24px;
}

.cases-head {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
   
    height: 265px;
    margin: 24px 24px 156px 38px;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.cases-head > h4{
    padding: 5%;
}
.cases-content {
    border: 2px solid white;
    width: 552px;
    height: 315px;
    margin: 24px 33px 96px 24px;
    padding: 32px 40px 32px 32px;
    border-radius: 16px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.cases-content > h4{
    padding:5%;
}

.case-head-img {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 30%;
}

.image-container {
    display: flex;
    column-gap: 10%;

}

.image-container p {
    margin: 0;
    font-size: 15px;
}

.image-container .img-container {
    width: 56px;
    height: 56px;
    display: flex;
    row-gap: 10%;
}

.whole {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}